@media only screen and (min-width: 375px) and (orientation: portrait) {
  .jumbotron {
    background: none;
    font-size: 10px;
    font-weight: bold;
    max-height: 600px;
    overflow: auto;
  }
  .jumbotron .fas,
  .jumbotron h2,
  .jumbotron p {
    font-size: 1rem;
  }
  .jumbotron .fas {
    padding-top: 0;
  }
  .toggleButton__col {
    text-align: center;
  }
  .bio {
    padding-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .jumbotron {
    background: none;
  }
}
