.contact__main {
  margin-top: 2rem;
}
.contact__main__dialogue--center {
  text-align: center;
  width: 600px;
}
.contact__main__features {
  padding: 1rem;
  font-size: 0.9rem;
  background-color: rgba(5, 5, 5, 0.74);
  box-shadow: 0 0 20px 10px black;
  border-radius: 20px;
  margin: 2rem 0 2rem 0;
}
.fas {
  font-size: 50px;
}
.far {
  font-size: 50px;
}
.circle__container {
  width: 50px;
  height: 50px;
  margin: 0;
}
.circle__container .row:nth-child(1) {
  justify-content: space-around;
}
.circle__container .row:nth-child(2) {
  justify-content: space-between;
}
.circle__container .row:nth-child(3) {
  justify-content: space-around;
}
.fas {
  display: flex;
}
.fa-quote-right {
  flex-direction: row-reverse;
  padding-top: 10rem;
}
