.header__main {
  background: black;
  margin: 0 auto;
  margin-top: 1.45rem;
  margin-bottom: 1.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px 0 25px 0;
  width: 1200px;

  a {
    color: white;
    text-decoration: none;
    font-style: italic;
  }

  a:hover {
    color: grey;
  }

  h1 {
    margin: 1rem;
  }
}

.breadcrumb {
  background: black;

  a {
    text-decoration: none;
  }
}
