@font-face {
  font-family: labrit;
  src: url("./fonts/labrit.ttf");
}

@media only screen and (min-width: 375px) and (orientation: portrait) {
  .header__main {
    background: black;
    margin-top: 1.45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 0 25px 0;

    a {
      color: white;
      text-decoration: none;
      font-style: italic;
      font-size: 3rem;
      font-family: labrit;

      .header__link {
        font-size: 1.5rem;
      }
    }

    a:hover {
      color: grey;
    }

    h1 {
      margin: 1rem;
    }
  }

  .breadcrumb {
    background: none;

    a {
      text-decoration: none;
    }
  }
}
