@height_desktop: 100%;
@width_desktop: @height_desktop;
@font-face {
  font-family: playfairDisplay;
  src: url("./fonts/playfair_display.ttf");
}

@media only screen and (max-width: 480px) {
  .layout__main {
    margin: 0 auto;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 0;
    color: #ffa500;
    min-height: 812px;
  }

  .layout__foot {
    font-size: 0.75rem;
    color: #b17e0b;
    text-align: center;
  }
}

@media only screen and (min-width: 960px) {
  .layout__main {
    margin: 4rem 2rem;
    color: #ffa500;
    min-height: 900px;
  }

  .layout__foot {
    font-size: 0.75rem;
    color: #b17e0b;
    text-align: center;
  }
}
