.sc__carousel {
  width: 50%;
  height: 200px;
}
.sc__carousel .carousel-indicators {
  top: 200px;
}
.sc__carousel .carousel-inner {
  text-align: center;
}
.sc__carousel .carousel-inner .carousel-item {
  padding: 1rem 0 0 1rem;
}
.sc__carousel .carousel-control-prev {
  left: 2rem;
}
.sc__carousel .carousel-control-next {
  right: 2rem;
}
.sc__table {
  margin: 3rem 0 0 0;
  justify-content: center;
}
.sc__table .headers > div {
  background-color: #272121;
  padding: 1rem;
}
.sc__table .list {
  padding-top: 1rem;
}
.sc__table .list .track {
  padding: 1rem 0;
}
.sc__table .list .track:hover {
  background-color: #272121;
}
