@media only screen and (min-width: 960px) {
  .cartLink {
    position: fixed;
    color: white;
    top: 20rem;
    right: 5rem;
  }
  .cartLink:hover {
    text-decoration: none;
    color: white;
  }
}
